name: Update iOS Widget

on:
  schedule:
    - cron: '*/30 * * * *' # Ruleaza la fiecare 30 minute
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Requests
        run: pip install requests

      - name: Run Script
        run: python generate_card.py

      - name: Commit and Push
        run: |
          git config --global user.name "andzcr-bot"
          git config --global user.email "bot@andzcr.com"
          git add ios_card.svg
          git commit -m "Update iOS widget status" || echo "No changes to commit"
          git push
